
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create- Client</title>
</head>
<body>
    <div> 
       <h1>Client Data Added Sucecessfully !!!</h1>
       <h2>Welcome, @ViewBag.CName</h2>
    </div>
</body>
</html>
