@section pageName
{

    <h1>Sunanda Naik</h1>

}

<div>
    <h2>Value from TempData - @ViewBag.TKey</h2>
</div>
@section scriptName
{

    <script>
        document.write("Blog script code here");
    </script>

}
@RenderPage("~/Views/Home/Feature.cshtml")

<h2><em>Hello From Blog Page</em></h2>
