@using WebApplication3.Models
@model Employee
@{
    Layout = null;
    ViewBag.Title = "Details:Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <!--To pass data from View to Controller-->
        @using (Html.BeginForm("myForm"))
        {
            @Html.TextBoxFor(e => e.Id)
            <br /><br />
            @Html.TextBoxFor(e => e.Name)
            <br /><br />
            @Html.TextBoxFor(e => e.Address)
            <br /><br />
            @Html.CheckBoxFor(e => e.isEmployee)
            <br/><br/>
            <input type="submit" value="Send"/>
        }

    </div>
</body>
</html>
